#pagewrapper{
    min-width: 185px;
    background-color: inherit;
}

#content{
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

#partyParrot{
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.room {
    height: 20px;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

input{
    padding: 8px 0;
}

input,button{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
}

#randombutton,#changebutton,#minusbutton,#size{
    margin-top: 5px;
}

#size{
    flex-grow: 2;
}

#sizesector, #mutesector{
    max-width: 38px;
    min-width: 38px;
}

#inputsector,#sizesector,#mutesector{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sectors{
    display: flex;
    align-items: stretch;;
}

.sector{
    flex-grow: 1;
}

.thumbnail {
    width: 40px;
    margin: 10px 25px 10px 25px;
    cursor: pointer;
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

#mutebuttonimg{
    width: 20px;
    left: -3px;
    position: relative;
    top: 2px;
}
#mutebutton{
    height: 100%;
}

#cachingoverlay{
    background-color: inherit;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.cachingtext,#cachingprogress, #loadingparrot{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

/*
.loader {
    border: 16px solid #f3f3f3; !* Light grey *!
    border-top: 16px solid #3498db; !* Blue *!
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}
*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
    #content{
        margin-top: 50px;
    }

    .thumbnail {
        width: 75px;
        margin: 46px;
    }
}

@media (prefers-color-scheme: dark){
    body{
        background: dimgrey;
    }
    .cachingtext{
        color: white;
    }
}